body {
    margin: 0;
    padding: 0;
    font-family: 'Source Code Pro', monospace;
}

#menu {
    background-color: grey;
    color: white;
    position: absolute;
    box-sizing: border-box;
    height: 100%;
    width: 20%;
    padding: 10px;
}

#content {
    position: absolute;
    box-sizing: border-box;
    left: 20%;
    height: 100%;
    width: 80%;
    padding: 10px;
}


ul.tree li {
    list-style-type: none;
    position: relative;
}

ul.tree li ul {
    display: none;
}

ul.tree li.open > ul {
    display: block;
    padding-left: 1em;
}

ul.tree li a {
    color: white;
    text-decoration: none;

}

ul.tree li a:before {
    height: 1em;
    padding:0 .1em;
    font-size: .8em;
    display: block;
    position: absolute;
    left: -1.3em;
    top: .2em;
}

a {
    color: white;
    text-decoration: none;
}